/*******************
     header 开始
*********************/
.jl-education-header {
  height: 600px;
  background: skyblue;
}



/*******************
     主体 开始
*********************/
/* 盒子距离底部的边距 */
.jl-education-body {
  padding-bottom: 50px;
  background: url("./images/background.png") no-repeat;
  background-position: 0% 100%;
  background-size: 100%;
}



/*******************
     导航样式 开始
*********************/

/* 导航底部阴影 */
.jl-education-shadow {
  box-shadow: 0px 2px 20px 0px rgba(21, 99, 160, 0.1);
  width: 100%;
}

/* 导航部分 */
.jl-education-nav {
  width: 1400px;
  height: 70px;
  display: flex;
  margin: 0 auto;

}


/* 导航单个选项 */
.jl-education-nav-item {
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 16px;
  padding: 0 28px;
  color: #333333;

}

/* 当前页面对应导航背景色--蓝色 */
.jl-education-nav-click {
  background-color: #1563A0;
  color: #fff;
}

/*******************
     导航样式 结束
*********************/






/*******************
     列表样式 开始
*********************/
/* 列表盒子 */
.jl-education-list {
  width: 1400px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
}

/* 列表左列 */
.jl-education-list-lef {
  margin-bottom: 60px;
}

/* 清除 */

/* 列表单项 */
.jl-education-list-item {
  display: flex;
  align-items: center;
  width: 680px;
  height: 100px;
  margin: 0 40px 40px 0;
  background-color: #F6F7F9;
  position: relative;
}


/* 单项左侧日期部分 */
.jl-education-item-date {
  width: 100px;
  height: 100px;
  /* text-align: center; */
  background-color: #EDF2F5;
}

/* 左侧日期的月份 */
.jl-education-item-date h2 {
  font-size: 32px;
  margin: 0 auto;
  margin-top: 14px;
}

/* 左侧日期的日期 */
.jl-education-item-date div {
  font-size: 16px;
  color: #999999;
}


.jl-education-item-img {
  height: 100px;
  line-height: 100px;
  position: absolute;
  left: 120px
}

.jl-education-item-text {
  /* height: 100px;
  line-height: 100px; */
  position: absolute;
  left: 120px;
  font-size: 20px;
  /* overflow-wrap: break-word; */
}



/* 清除向右的margin */
.jl-education-margin-right {
  margin-right: 0;
}

/* 清除向下的margin */
.jl-education-margin-bottom {
  margin-bottom: 0;
}





/* 底部分页样式开始 */
.jl-education-list-page {
  display: flex;
  width: 538px;
  height: 32px;
  line-height: 32px;
  margin: 0 auto;

}

/* 切换页面按钮 */
.jl-education-page-jump {
  background-color: #FFFFFF;
  width: 80px;
  margin-right: 4px;

}

/* 清除最后一个按钮的margin */
.jl-education-page-clear {
  margin-right: 0;
}

/* 分页单个页列表 */
.jl-education-page-list {
  display: flex;


}

/* 分页单个页列表单项 */
.jl-education-page-list li {
  background-color: #FFFFFF;
  width: 32px;
  margin-right: 4px;
}

.jl-education-page-to {
  padding-left: 20px;
  display: flex;
}

/* 跳转到指定页面 */
.jl-education-page-to div {
  margin: 0 8px;
  width: 44px;
  background-color: #FFFFFF;
}


/* 底部分页样式结束 */















/* 清除底部向上的margin */
.jl-section-footer-wrap {
  margin-top: 0;
}

















/*******************
     列表样式 结束
*********************/