/* 页面通用样式 */
body.hidden {
  overflow: hidden;
}

.jl-section {
  overflow: hidden;
  position: relative;
  z-index: 3;
  background: #fff;
}

/* 通用标题 */

/* 标题 */
.jl-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
  height: 0.5rem;
}

.jl-header .jl-header-title {
  font-size: 0.36rem;
  line-height: 1.5;
  font-family: MicrosoftYaHei;
  color: #333333;
  letter-spacing: 3px;
}

.jl-header .jl-header-more {
  display: flex;
  align-items: center;
  font-size: 0.14rem;
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 1px;
  cursor: pointer;
}

/****************************************
          header 开始
****************************************/
.jl-main {
  position: relative;
}

/* header top */
.jl-header-top {
  height: 1.2rem;
  padding-top: 0.2rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

/*  hader-container */
.jl-header-top .jl-header-container {
  overflow: visible;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  color: #ffffff;
}

/* .logo */
.jl-logo {
  height: 80%;
  margin-left: 0.8rem;
}
.jl-logo-img-wrap {
  display: block;
  height: 100%;
  font-size: 0;
}
.jl-logo-img {
  height: 100%;
}

/* nav */
.jl-nav-wrapper {
  justify-content: flex-end;
  overflow: visible;
}

.jl-nav-wrapper .jl-nav {
  overflow: visible;
}

.jl-nav-wrapper .jl-nav-item {
  position: relative;
  font-size: 0.18rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.1rem 0.1rem;
}

.jl-nav-item .jl-nav-item__label {
  color: #ffffff;
}

.jl-nav-wrapper .jl-nav-item:hover .jl-nav-item__label {
  color: #ffd542;
  font-weight: bold;
}

.jl-nav-item .jl-nav-sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.1rem 0;
  width: 2rem;
  background: #ffffff;
  z-index: 8;
}

.jl-nav-item .jl-nav-sub:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  background: #1563a0;
}

.jl-nav-wrapper .jl-nav-item:hover .jl-nav-sub {
  display: flex;
  animation: trans 0.3s;
}

@keyframes trans {
  0% {
    transform: translateX(-50%) translateY(0.3rem);
    opacity: 0;
  }

  100% {
    transform: translateX(-50%) translateY(0px);
    opacity: 1;
  }
}

.jl-nav-sub .jl-nav-sub-list {
  width: 100%;
}

.jl-nav-sub .jl-nav-sub-item {
  width: 100%;
  height: 0.44rem;
  line-height: 0.44rem;
  color: #333333;
  font-size: 0.14rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: MicrosoftYaHei;
}

.jl-nav-sub .jl-nav-sub-item:hover {
  color: #1563a0;
  background: rgba(21, 99, 160, 0.1);
}

/* nav operate */
.jl-nav-operate {
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.4rem;
  margin-left: 0.2rem;
  background: url('../assets/images/nav-more.png') no-repeat center/cover;
  cursor: pointer;
}

.jl-nav-operate.show {
  background-image: url('../assets/images/close-full-header.png');
}

.jl-nav-more-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* 滚动导航 */
.jl-header-wrap {
  overflow: visible;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0.8rem;
  z-index: 100;
  color: #ffffff;
  transform: translateY(-0.8rem);
  transition: 0.3s;
}
.jl-header-wrap-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(21, 99, 160, 85);
  transition: 0.3s;
}

.jl-header-wrap.show {
  transform: translateY(0);
}

.jl-header-wrap .jl-logo {
  height: 0.48rem;
}

.jl-logo-img {
  height: 100%;
  object-fit: cover;
}

/* 全屏header */
.jl-full-nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 0;
  transition: 0.6s;
}
.jl-full-nav.show {
  height: 100%;
}

.jl-full-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: url('../assets/images/full-header-bg.png') no-repeat center/cover;
}
.jl-full-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.jl-full-header-container {
  max-width: 76%;
  margin: 1.6rem auto;
  height: 100%;
}
.jl-full-nav-item {
  flex: 1;
  text-align: center;
  transform: translateY(0.5rem);
  opacity: 0;
  transition: 0.5s;
}
.jl-full-nav-item:nth-child(1) {
  transition-delay: 0.1s;
}
.jl-full-nav-item:nth-child(1) {
  transition-delay: 0.1s;
}
.jl-full-nav-item:nth-child(2) {
  transition-delay: 0.2s;
}
.jl-full-nav-item:nth-child(3) {
  transition-delay: 0.3s;
}
.jl-full-nav-item:nth-child(4) {
  transition-delay: 0.4s;
}
.jl-full-nav-item:nth-child(5) {
  transition-delay: 0.5s;
}
.jl-full-nav-item:nth-child(6) {
  transition-delay: 0.6s;
}
.jl-full-nav-item:nth-child(7) {
  transition-delay: 0.7s;
}
.jl-full-nav-item:nth-child(8) {
  transition-delay: 0.8s;
}
.jl-full-nav-item:nth-child(9) {
  transition-delay: 0.9s;
}
.jl-full-nav-item:nth-child(10) {
  transition-delay: 1s;
}

.jl-full-nav.show .jl-full-nav-item {
  transform: translateY(0);
  opacity: 1;
}

.jl-full-nav-item .jl-full-title {
  margin-bottom: 0.16rem;
}
.jl-full-nav-item .jl-full-title a {
  position: relative;
  font-size: 0.22rem;
  color: #fff;
  position: relative;
  display: block;
  padding: 0 0 0.18rem;
  margin-bottom: 0.16rem;
  font-weight: 700;
}
.jl-full-nav-item .jl-full-title a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0.32rem;
  height: 2px;
  background: #ffffff;
}

.jl-full-nav-item .jl-full-label {
  margin-bottom: 0.2rem;
}
.jl-full-nav-item .jl-full-label a {
  font-size: 0.16rem;
  color: #fff;
  line-height: 0.2rem;
}

.jl-full-nav-item .jl-full-label a:hover {
  color: #e6c390;
}

.jl-full-nav.show ~ .jl-main-header .jl-nav {
  display: none;
}

.jl-full-nav.show ~ .jl-header-wrap .jl-header-wrap-bg {
  transform: translateY(-100%);
}
.jl-full-nav.show ~ .jl-header-wrap .jl-nav {
  display: none;
}

/****************************************
           header 结束
****************************************/

/****************************************
           通用 header 开始
****************************************/
.jl-common-header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 6rem;
  max-height: 6rem;
}
.jl-main-header {
  position: absolute;
  width: 100%;
  z-index: 99;
}

/* 背景 */
.jl-header-bg-wrap {
  position: relative;
}

.jl-header-bg-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
.jl-header-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jl-crumbs-nav {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  width: 100%;
}

.jl-center-container {
  align-items: flex-end;
  width: 14rem;
  max-width: 94%;
  margin: 0 auto;
}
.jl-crumbs-title {
  font-size: 0.32rem;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: 400;
  color: #ffffff;
}

.jl-address {
  color: #ffffff;
  margin-left: 0.6rem;
  margin-bottom: 4px;
}
.jl-address .jl-address-item {
  font-size: 0.14rem;
  font-family: MicrosoftYaHei;
  color: #ffffff;
  padding: 0 0.1rem;
}
/****************************************
           通用 header 结束
****************************************/

/****************************************
          nav 开始
****************************************/
.jl-section-nav {
  width: 100%;
  height: 0.7rem;
  background: #ffffff;
  box-shadow: 0px 2px 20px 0px rgba(21, 99, 160, 0.1);
}

.jl-section-nav .jl-nav-list {
  justify-content: flex-start;
  align-items: center;
}
.jl-nav-list .jl-nav-item {
  line-height: 0.7rem;
  height: 100%;
  font-size: 0.16rem;
  font-family: MicrosoftYaHei;
  color: #333333;
}
.jl-nav-list .jl-nav-item a {
  display: block;
  height: 100%;
  padding: 0 0.28rem;
}
.jl-nav-list .jl-nav-item.jl-active a {
  color: #ffffff;
  background: #1563a0;
}
/****************************************
          nav 结束
****************************************/

/****************************************
          banner 开始
****************************************/

.jl-banner-container {
  position: relative;
  height: 100vh;
  user-select: none;
}

/* 轮播 */
.jl-banner {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.jl-banner .swiper-pagination-bullet {
  width: 20px;
  height: 6px;
  border-radius: 0;
  margin-right: 10px;
  background: #ffffff;
  opacity: 0.5;
}

.jl-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

/* 左右按钮 */
.swiper-button-next,
.swiper-button-prev {
  width: 48px !important;
  height: 48px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-next {
  right: 2.6rem !important;
  background: url('../assets/images/right.png') no-repeat 0 0 / cover;
}

.swiper-button-prev {
  left: 2.6rem !important;
  background: url('../assets/images/left.png') no-repeat 0 0 / cover;
}

/* 轮播页 */
.swiper-pagination-wrap {
  justify-content: flex-end;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0.25rem;
  padding-right: 0.86rem;
  z-index: 4;
}

.swiper-pagination-wrap .swiper-pagination {
  top: 0 !important;
  bottom: 0 !important;
  position: relative;
  justify-content: flex-end;
}

/* more 更多 */
.jl-swiper-more {
  position: relative;
  margin-left: 0.2rem;
  color: #ffffff;
}

.jl-swiper-more::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 0.2rem;
  background: #ffffff;
  opacity: 0.5;
  z-index: 4;
}

.jl-swiper-more .jl-more {
  display: flex;
  align-items: center;
  height: 30px;
  color: #ffffff;
  padding: 0 0 0 0.25rem;
  font-size: 0.16rem;
}

.jl-more-svg {
  width: 0.3rem;
  height: 0.3rem;
  fill: #ffffff;
  transform: rotateX(180deg) translateX(0);
  margin-left: 0.1rem;
  transition: 0.3s;
}

.jl-more:hover .jl-more-svg {
  transform: rotateX(180deg) translateX(0.15rem);
}

/* 轮播底部背景 */
.jl-banner-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3rem;
  z-index: 3;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

/* 标语 */
.jl-banner-bottom .jl-slogan {
  position: absolute;
  bottom: 0.2rem;
  left: 1.8rem;
  z-index: 2;
  font-size: 0.64rem;
  /* font-family: FZquanfuti--GB1-0, FZquanfuti--GB1; */
  font-weight: normal;
  color: #ffffff;
  line-height: 0.84rem;
  /* text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3); */
}

/****************************************
          banner 结束
****************************************/

/****************************************
                  底部 结束
****************************************/
.jl-footer {
  margin-top: 0.7rem;
}
.jl-section-footer-wrap {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 3.91rem;
  background: url('../assets/images/footer-bg.png') no-repeat 0 0 / cover;
}

.jl-section-center {
  width: 15rem;
  height: 100%;
  margin: 0 auto;
}

.jl-footer-affiliated-schools {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 0.4rem;
  font-size: 0.16rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.22rem;
}

.jl-footer-affiliated-schools .jl-schools-item {
  margin-top: 0.5rem;
  color: #ffffff;
}

.jl-footer-schools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jl-footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jl-footer-contact .jl-footer-contact-item {
  width: 0.56rem;
  height: 0.56rem;
  margin-left: 0.4rem;
}

.jl-footer-contact .jl-concat-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.jl-footer-info {
  position: relative;
  z-index: 3;
  height: 71px;
  background: #06528a;
  text-align: center;
  line-height: 71px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #ffffff;
}

/****************************************
                  底部 结束
****************************************/

/****************************************
                区块 开始
****************************************/

.jl-section-wrap {
  overflow: hidden;
  position: relative;
  z-index: 3;
  background: #ffffff;
}

/* 标题 */
.jl-section-header {
  position: relative;
  width: 100%;
  height: 1.7rem;
  text-align: center;
  line-height: 1.7rem;
  font-size: 0.36rem;
  font-family: MicrosoftYaHei;
  color: #333333;
  letter-spacing: 3px;
}

.jl-section-header .jl-header-more {
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  font-size: 0.14rem;
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 1px;
  cursor: pointer;
}

/****************************************
                区块 结束
****************************************/
/****************************************
                分页 开始
****************************************/

.jl-activities-list-page {
  justify-content: center;
  margin-top: 0.6rem;
  height: 0.32rem;
  line-height: 0.32rem;
  color: #333333;
  text-align: center;
}

/* 切换页面按钮 */
.jl-activities-page-jump {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 80px;
  margin-right: 4px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
}

.jl-activities-page-list .jl-page-item {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 32px;
  margin-right: 4px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
}

/* 跳转到指定页面 */
.jl-activities-page-to {
  margin-left: 20px;
  align-items: center;
}
.jl-activities-page-to .jl-pages-input {
  box-sizing: border-box;
  margin: 0 8px;
  width: 44px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  outline: none;
  text-align: center;
}

/****************************************
                分页 结束
****************************************/

/****************************************
                弹窗 开始
****************************************/
.jl-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
.jl-dialog.hide {
  display: none;
}
.jl-dialog-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
  height: 800px;
  object-fit: cover;
}

/****************************************
                弹窗 结束
****************************************/

.jl-wrap {
  width: 100%;
}

.jl-img {
  width: 100%;
  object-fit: cover;
}
