/*********************
    主体 开始
***********************/
.jl-committee-activities-wrap {
  padding: 0.6rem 0;
  background: url('../assets/images/list-bg.png') no-repeat bottom
    center/contain;
}

.jl-activities-list {
  width: 12rem;
  margin: 0 auto;
}
.jl-activies-item {
  justify-content: center;
  height: 2.4rem;
  padding: 0.2rem 0;
}
.jl-activies-img-wrap {
  width: 4rem;
  height: 100%;
  margin-right: 0.4rem;
  object-fit: cover;
}
.jl-activies-img-wrap .jl-activies-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 文本内容 */

.jl-activities-container {
  box-sizing: border-box;
  position: relative;
  width: 7.4rem;
  height: 100%;
  padding-top: 0.2rem;
  color: #333333;
}
.jl-activities-container .jl-activities-title {
  flex: 0 0 0.3rem;
  font-size: 0.22rem;
  margin-bottom: 0.18rem;
  line-height: 0.3rem;
}

.jl-activities-desc {
  font-size: 0.14rem;
  color: #999999;
}

.jl-activities-time-wrap {
  justify-content: space-between;
  align-items: center;
  flex: 0 0 0.4rem;
  height: 0.4rem;
}

.jl-activities-time-wrap .jl-activies-time {
  font-size: 0.16rem;
  font-weight: bold;
}
.jl-activities-time-wrap .jl-activies-icon {
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.64rem;
  background: url('../assets/images/right.png') no-repeat 0 0 / cover;
}

/* .jl-activies-item:hover {
  background: #0d6db7;
} */
.jl-activies-item:hover .jl-activities-container {
  color: #0d6db7;
}
.jl-activies-item:hover .jl-activities-desc {
  color: #0d6db7;
}
.jl-activies-item:hover .jl-activies-icon {
  background-image: url('../assets/images/right-white.png');
}

/* 学生活动 */
.jl-committee-activities-wrap .jl-center-container {
  box-sizing: border-box;
  overflow: visible;
}
.jl-active-center {
  flex-wrap: wrap;
}
.jl-active-item {
  overflow: visible;
  width: 4.4rem;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}
.jl-active-item a {
  display: block;
}
.jl-active-item:nth-child(3n) {
  margin-right: 0;
}
.jl-active-item .jl-active-img-wrap {
  overflow: hidden;
  width: 100%;
  height: 2.6rem;
}
.jl-active-img-wrap .jl-active-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.jl-active-img-wrap .jl-active-img:hover {
  transform: scale(1.2);
}
.jl-active-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0.2rem;
}
.jl-active-container .jl-active-title {
  font-size: 0.22rem;
  color: #333333;
  line-height: 0.3rem;
}
.jl-active-container .jl-active-info {
  margin-top: 0.1rem;
  font-size: 0.14rem;
  color: #999999;
  line-height: 0.22rem;
}
.jl-active-time-wrap {
  justify-content: space-between;
  align-items: center;
  margin-top: 0.2rem;
}
.jl-active-time-wrap .jl-active-time {
  font-size: 0.16rem;
  font-weight: bold;
  color: #333333;
  line-height: 0.2rem;
}
.jl-active-time-wrap .jl-active-icon {
  width: 0.4rem;
  height: 0.4rem;
  background: url('../assets/images/right.png') no-repeat 0 0 / cover;
}

/* hover */
.jl-active-item:hover .jl-active-title,
.jl-active-item:hover .jl-active-info,
.jl-active-item:hover .jl-active-time {
  color: #0d6db7;
}
/*********************
    主体 结束
***********************/
