/************************************
        主体内容  开始
**************************************/
.jl-section-container {
  padding: 0.4rem 0;
}
.jl-section-container .jl-center-container {
  box-sizing: border-box;
  padding-left: 28%;
}

.jl-idea-item {
  font-size: 0.22rem;
  font-weight: bold;
  color: #333333;
  line-height: 0.3rem;
  margin-bottom: 0.4rem;
}

.jl-idea-item-label {
  width: 4em;
  justify-content: space-between;
}
.jl-idea-item-label.jl-space {
}
/************************************
        主体内容  结束
**************************************/
