/**************************************
        主体内容 开始
***************************************/
.jl-news-item {
  box-sizing: border-box;
  padding: 0 1rem;
  width: 100%;
}
.jl-news-item .jl-flex

/**************************************
        主体内容 结束
***************************************/
