/******************************
        主体  开始
*******************************/
.jl-party-reading-wrap {
  padding: 0.6rem 0;
}
.jl-party-reading-wrap .jl-center-container {
  flex-wrap: wrap;
  width: 12rem;
}
.jl-reading-item {
  box-sizing: border-box;
  /* padding: 0.2rem; */
  margin-bottom: 0.4rem;
  width: 100%;
}
.jl-reading-item-content {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  height: 1rem;
  background: #f6f7f9;
}

.jl-reading-item-content .jl-reading-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  z-index: 3;
  background: #edf2f5;
}
.jl-reading-date h2 {
  font-size: 0.32rem;
  font-weight: bold;
  color: #333333;
  line-height: 0.38rem;
  margin-bottom: 0.1rem;
}
.jl-reading-date span {
  font-size: 0.16rem;
  font-weight: normal;
  color: #999999;
  line-height: 0.2rem;
}

.jl-reading-label {
  font-size: 0.2rem;
  color: #333333;
  line-height: 1rem;
  padding: 0 0.2rem;
  z-index: 3;
}

/* hover */
.jl-reading-item-content:hover {
  background: #1563a0;
}
.jl-reading-item-content:hover .jl-reading-date {
  background: #f1a830;
}
.jl-reading-item-content:hover h2 {
  color: #ffffff;
}
.jl-reading-item-content:hover span {
  color: #ffffff;
}
.jl-reading-item-content:hover .jl-reading-label {
  color: #ffffff;
}
/******************************
        主体  结束
*******************************/
