/****************************************
                  header 开始
****************************************/
.jl-main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
}

.jl-main-header.hide {
  transform: translateY(-100%);
}

/* 周年庆 */
.jl-anniversary {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2.2rem;
  height: 2.2rem;
  z-index: 6;
}

.jl-anniversary .jl-anniversary-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/****************************************
                  header 结束
****************************************/

/****************************************
                  主体 开始
****************************************/

/* --------   新闻  开始 -------- */
.jl-news-container {
  position: relative;
  padding: 0.7rem 0 0.8rem;
  background: url('./images/news.png') no-repeat 0 0 / cover;
  z-index: 3;
}

.jl-news-container .jl-last-news {
  padding: 0 0.8rem 0 1.3rem;
}

/* 内容 */
.jl-news-content .jl-news-img-wrap {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 3.7rem;
  border-radius: 8px;
}

.jl-news-img-wrap .jl-last-news-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.jl-news-img-wrap .jl-last-news-img:hover {
  transform: scale(1.2);
}

/* 新闻内容 */
.jl-current-news {
  padding: 0.18rem 0.45rem 0.2rem 0.3rem;
}

.jl-news-info-wrap .jl-news-time {
  flex: 0 0 60px;
  text-align: center;
}

.jl-news-info-wrap .jl-news-time .jl-title-day {
  font-size: 0.32rem;
  font-weight: normal;
  color: #333333;
  line-height: 0.37rem;
}

.jl-news-info-wrap .jl-news-time .jl-title-date {
  font-size: 0.16rem;
  color: #999999;
  line-height: 0.18rem;
  margin-top: 4px;
}

.jl-news-info .jl-news-title {
  font-size: 0.2rem;
  color: #333333;
  line-height: 0.36rem;
}

.jl-news-info .jl-news-desc {
  font-size: 0.14rem;
  color: #666666;
  line-height: 0.18rem;
  margin-top: 4px;
}

/* hover */
.jl-current-news:hover {
  background: #1563a0;
  border-radius: 0px 32px 0px 32px;
  cursor: pointer;
}

.jl-current-news:hover .jl-news-time .jl-title-day,
.jl-current-news:hover .jl-news-time .jl-title-date,
.jl-current-news:hover .jl-news-info .jl-news-desc,
.jl-current-news:hover .jl-news-info .jl-news-title {
  color: #ffffff;
}

/* 新闻列表 */
.jl-news-list-wrap {
  position: relative;
  padding: 0 0.6rem;
}

.jl-news-list::after {
  content: '';
  position: absolute;
  left: 0;
  top: 1.1rem;
  bottom: 0.3rem;
  border-right: 1px solid #dae3ea;
  z-index: 3;
}

.jl-news-list .jl-news-item {
  padding: 0.18rem 0.45rem 0 0.3rem;
}

.jl-news-item .jl-news-time .jl-title-day {
  color: #999999;
}

.jl-news-item .jl-news-info .jl-news-desc {
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.jl-news-item:last-child .jl-news-info .jl-news-desc {
  border: none;
}

.jl-news-item:hover {
  background: #1563a0;
  border-radius: 0px 32px 0px 32px;
  cursor: pointer;
}

.jl-news-item:hover .jl-title-day,
.jl-news-item:hover .jl-title-date,
.jl-news-item:hover .jl-news-title,
.jl-news-item:hover .jl-news-desc {
  color: #ffffff;
}

/* --------   新闻  结束 -------- */

/* --------   公告  开始 -------- */
.jl-notice-container {
  position: relative;
  padding: 0.68rem 0 0.75rem;
  background: url('./images/smart-campus.png') no-repeat 0 0 / cover;
  z-index: 3;
}

.jl-notice-container .jl-header {
  margin-bottom: 0.4rem;
}

/* 智慧校园 */
.jl-notice-smart-campus {
  padding: 0 1rem;
}

.jl-smart-campus-content {
  width: 100%;
  /* width: 8.4rem; */
  height: 4.4rem;
}

.jl-smart-campus-content .jl-smart-campus-title {
  position: relative;
  align-items: center;
  flex: 0 0 2rem;
  width: 2rem;
  background: #1563a0;
}

.jl-smart-campus-content .jl-smart-campus-title .jl-smart-campus-label {
  width: 0.24rem;
  font-size: 0.24rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 0.33rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.jl-smart-campus-title::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 30px;
  width: 6px;
  height: 50px;
  background: #f8e71c;
}

.jl-smart-campus-title .jl-more-svg {
  fill: #f8e71c;
}

.jl-smart-campus-img-wrap .jl-smart-campus-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.jl-smart-campus-img:hover {
  transform: scale(1.1);
}

/* 通知公告 */
.jl-notice-wrap {
  margin: 0 1rem;
}

.jl-notice-content {
  position: relative;
  box-sizing: border-box;
  padding: 0.3rem 0.2rem;
  height: 4.4rem;
  background: #ffffff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
.jl-notice-content::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: #1563a0;
}

.jl-notice-content .jl-notice-item {
  flex: 1;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.jl-notice-content .jl-notice-item:last-child {
  margin-bottom: 0;
}

.jl-notice-item .jl-notice-title {
  font-size: 0.16rem;
  color: #333333;
  line-height: 0.21rem;
}

.jl-notice-item .jl-notice-time {
  align-items: center;
  margin-top: 14px;
}

.jl-notice-time .jl-time {
  font-size: 0.14rem;
  color: #6c9bbd;
  line-height: 0.16rem;
}

.jl-notice-time .jl-line {
  height: 1px;
  background: #eeeeee;
  margin-left: 10px;
}

.jl-notice-item:hover .jl-notice-title {
  color: #11639f;
}
.jl-notice-item:hover .jl-time {
  color: #11639f;
}
.jl-notice-item:hover .jl-line {
  background: #11639f;
}

/* --------   公告  结束 -------- */

/* --------   教师频道  开始 -------- */

/* 内容 */
.jl-section-content {
  position: relative;
  justify-content: center;
}

.jl-section-item {
  position: relative;
  overflow: hidden;
  flex: 0 0 4.92rem;
  width: 4.92rem;
  margin-right: 20px;
  box-shadow: 0 0 10px 0 #dddddd;
  margin-bottom: 0.6rem;
  border-radius: 8px;
}
.jl-section-item:last-child {
  margin-right: 0;
}
.jl-section-slide {
  justify-content: flex-start;
}
.jl-section-item .jl-section-img-wrap {
  flex: 0 0 3.6rem;
  overflow: hidden;
  width: 100%;
  height: 3.6rem;
}
.jl-section-img-wrap .jl-section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.jl-section-img-wrap .jl-section-img:hover {
  transform: scale(1.2);
}

/* 分类 */
.jl-category-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 3.6rem;
  z-index: 10;
  flex: 0 0 0.7rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 0.7rem;
}

.jl-category-wrap.jl-relative {
  position: relative;
  top: 0;
  margin-bottom: 0;
}

.jl-category-wrap .jl-category-title {
  position: relative;
  font-size: 0.24rem;
  font-weight: 500;
  color: #000000;
  line-height: 0.33rem;
}
.jl-category-wrap .jl-category-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 4px;
  width: 0.48rem;
  background: #11639f;
}

.jl-category-wrap .jl-more-img {
  margin-left: 8px;
}

/* 教师内容 */
.jl-section-content {
  position: relative;
}

/* 教师轮播 */
.jl-slide-info {
  margin: 1rem 0.2rem 0;
  text-align: left;
  padding-bottom: 0.8rem;
}

.jl-slide-info .jl-slide-time {
  align-items: flex-end;
  font-weight: bold;
  line-height: 1;
  font-size: 0.16rem;
  margin-bottom: 0.2rem;
}

.jl-slide-info .jl-slide-time .jl-slide-day {
  font-size: 0.28rem;
  margin-right: 0.3rem;
}

.jl-slide-info .jl-slide-title {
  font-size: 0.22rem;
  line-height: 0.29rem;
  margin-bottom: 0.2rem;
}

.jl-slide-info .jl-slide-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
  font-size: 0.14rem;
  color: #666666;
  line-height: 0.24rem;
}

/* 分页 */
.jl-section-swiper {
  font-size: 0;
  height: 7.37rem;
}
.jl-section-swiper .swiper-pagination {
  width: 100%;
  bottom: 0.2rem;
  font-size: 0.16rem;
  color: #1563a0;
  line-height: 0.21rem;
}

.jl-swiper-next {
  right: 0.6rem !important;
  top: auto;
  bottom: 0.2rem;
  background-image: url('./images/right-hollow.png');
}

.jl-swiper-prev {
  left: 0.6rem !important;
  top: auto;
  bottom: 0.2rem;
  background-image: url('./images/left-hollow.png');
}

/* --------   教师频道  结束 -------- */

/* --------   校园生活  开始 -------- */
.jl-campus-life {
  background: url('../assets/images/section-bg.png') no-repeat 0 0/ 100% 100%;
}

.jl-life {
  box-sizing: border-box;
  padding-top: 0.46rem;
}

/* --------   校园生活  结束 -------- */

/* --------   校园视频  开始 -------- */
.jl-vido-wrap {
  background: #f4f9fe;
  padding-bottom: 0.7rem;
}

.jl-campus-video {
  justify-content: center;
}

.jl-campus-play-wrap {
  position: relative;
  overflow: hidden;
  width: 12rem;
  height: 6.75rem;
  border-radius: 16px;
}

.jl-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.66rem;
  height: 0.66rem;
  cursor: pointer;
  z-index: 8;
}

.jl-campus-play-list {
  flex: 0 0 2.8rem;
  width: 2.8rem;
  margin-left: 20px;
}

.jl-campus-play-list .jl-campus-play-item {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 1.58rem;
  border-radius: 8px;
  margin-bottom: 0.14rem;
}

.jl-campus-video .jl-video {
  width: 100%;
  height: 100%;
}

.jl-campus-play-list .jl-campus-play-item:last-child {
  margin-bottom: 0;
}

.jl-play-small-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.42rem;
  height: 0.42rem;
  cursor: pointer;
  z-index: 8;
}

/* --------   校园视频  结束 -------- */

/****************************************
                  主体 结束
****************************************/

/****************************************
          小学部 复用模块样式  开始
****************************************/

/****************************************
          小学部 复用模块样式  结束
****************************************/
